.currency-list-wrapper {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-list {
    display: grid;
    grid-template-columns: .3fr .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
    background-color: #f4f4f4;
    font-weight: bold;
    padding: 10px;
  }
  
  .currency-list {
    list-style: none;
    padding: 0;
  }
  
  .show-more-btn {
    display: block;
    margin: 50px auto;
    background-color: #24292E;
    border: none;
    border-radius: 10px;
    padding: 20px 65px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }

  .show-more-btn:hover {
    background-color: white;
    color: #24292E;
    transition: all ease-in-out .7s;
  }